<div class="row">
    <h1><%= @title %></h1>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="admin/dvd" class="btn btn-info admin">Dvd</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="admin/client" class="btn btn-info admin">Clients</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="#" class="btn btn-info admin">Emprunts</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="#" class="btn btn-info admin">Abonnements</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="admin/acteur" class="btn btn-info admin">Acteurs</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="admin/societe" class="btn btn-info admin">Societes</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="#" class="btn btn-info admin">Commentaires</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="#" class="btn btn-info admin">Employes</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="admin/categorie" class="btn btn-info admin">Categories</a>
  </div>
</div>

